/* CONTAINER */
.container {
  background-color: #f7f7f7;
}
/* NAVBAR */
.navbar .navbar-child {
  width: 100%;
}
.Match{
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.Match img, img {
  max-width: 2rem;
}

.Match:hover{
  background-color: bisque;
}

.Match-finish{
  background-color: rgb(243, 240, 240);
}

.Score{
  font-size: 1.5rem;
  margin: 0 0.5rem;
}

hr{
  width: 8rem;
}

/* MODAL INFOR OF MATCH */
.match-team {
  height: 5rem;
}
.match-title {
	margin-top: 5rem;
}
.match-title > p, .match-stats > p {
  font-weight: bold;
}


.match-team > p {
  font-size: 18px;
  font-weight: bold;
}
.match-team > h6 {
	margin-top: 0.5rem;
}

.match_statistics {
	text-align: center;
	padding: 0 5px;
}

/* MODAL INFOR OF TEAM */
.team-title {
	margin-top: 2rem;
}

.team_statistics {
	text-align: center;
	padding: 0 5px;
}

.team-detail-title {
  text-align: center;
}

.team-row > tr {
  cursor: pointer;
}

/* MODAL */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.inactive {
  display: none; /* Hidden by default */
}
.active {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.match-detail {
  display: flex;
  justify-content: space-between;
}

/* League Standing */
table, th, td {
  border: 1px solid rgb(165, 165, 165);
}

tr:hover {
  background-color: rgb(182, 165, 165);
}
.modal-body-team-detail {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
