/* CONTAINER */
.container {
  background-color: #f7f7f7;
}
/* NAVBAR */
.navbar .navbar-child {
  width: 100%;
}
.Match{
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.Match img, img {
  max-width: 2rem;
}

.Match:hover{
  background-color: bisque;
}

.Match-finish{
  background-color: rgb(243, 240, 240);
}

.Score{
  font-size: 1rem;
}

hr{
  width: 8rem;
}

/* MODAL INFOR OF MATCH */
.match-title {
	margin-top: 6rem;
}
.match-title > p, .match-stats > p {
  font-weight: bold;
}

.match-team {
	height: 120px;
}
.match-team > h6 {
	margin-top: 0.5rem;
}

.match_statistics {
	text-align: center;
	padding: 0 5px;
}

/* MODAL INFOR OF TEAM */
.team-title {
	margin-top: 2rem;
}

.team_statistics {
	text-align: center;
	padding: 0 5px;
}

.team-detail-title {
  text-align: center;
}

.team-row > tr {
  cursor: pointer;
}

.table td, .table th {
  padding: 0.25rem
}